body {
  background: #f3f3f3;
  font-family: Georgia, serif;
}

div.page {
  width: 600px;
  margin: 0 0 0 1em;
}

div#header {
  border-bottom: 1px dashed #40588f;
}

div#header h1 {
  font-weight: 300;
  display: inline;
  font-size: 2em;
}

div#header h2 {
  display: inline;
  font-weight: 300;
  font-size: 1.15em;
}

.italic {
  font-style: italic;
}

/* CL represents colour */
.CL-dark-blue {
  color: #40588f;
}
